@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

:root {
  /* background-image: url(../../public/png/헤커톤_design_main.jpeg); */
  /* rgba(255, 255, 255, 0.1); */
  background-size: cover;
}

body {
  justify-items: center;
  /* margin : 0 24px; */

}

header {
  width: 1280px;
  margin: 0 auto;
  /* background-color: rgb(211, 101, 101); */
}

main {
  width: 1280px;
  margin: 0 auto;
}

footer {
  width: 1280px;
  margin: 0 auto;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
