@import "../variables.scss";

.formContainer {
  display: flex;
  flex-direction: column;

  gap: 16px;
  width: 100%;
  padding: 24px 32px;
  border: 1px solid $borderGray;
  background-color: white;

  h4 {
    grid-column: span 2;
    border-bottom: 2px solid $borderGray;
    font-size: large;
    line-height: 2;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    // padding: 16px 0;

    .fieldset {
      display: flex;
      margin: 0;

      .input,
      .textarea,
      .select {
        width: 100%;
        min-height: 46px;
        padding: 8px 16px;
        border: 1px solid $borderGray;
        resize: none;
        &[type="date"], &[type="month"] {
          width: 30%;
        }
        &[type="date"]::before, &[type="month"]::before {
          content: attr(placeholder);
          opacity: 0.5;
          width: 100%;
        }
        &[type="date"]:focus::before,
        &[type="date"]:valid::before,
        &[type="month"]:focus::before,
        &[type="month"]:valid::before {
          display: none;
        }
      }
      .select {
        color: $fontGray;
      }
      .label {
        color: $fontGray;
        margin-right: 0.5rem;
      }
    }
  }

  .addButton {
    margin: 0;
    padding-top: 24px;
    width: 100%;
    border-top: 1px solid $borderGray;
    display: flex;
    align-content: center;
    justify-content: center;
    color: $fontGray;
    span {
      padding-left: 8px;
    }
    svg {
      color: $logoBlue;
    }
    .active {
      color: $activeTextBlue;
    }
  }

  .addedData {
    @extend .form;
    // background-color: rgba( $activeBgBlue, 0.5);
    // border-bottom: 1px solid $borderGray;
  }

}

.careerForm {
  @extend .formContainer;

  .form {
    .fieldset {
      .input {
        border-right: none;
        &:last-child {
          border-right: 1px solid $borderGray;
        }
      }
      &:nth-child(4) {
        .input, .select {
          width: 30%;
        }
      }
      &:nth-child(5) {
        grid-column: span 2;
      }
    }
  }
}

.educationForm {
  @extend .formContainer;

  .form {
    .fieldset {
      gap: 12px;
      grid-column: span 2;
      :first-child {
        width: 15%;
        color: $fontGray;
      }
      :nth-child(2) {
        width: 30%;
      }
    }
  }
}

.certificateForm {
  @extend .formContainer;
  .form {
    .fieldset {
      gap: 12px;
      grid-column: span 2;

      :first-child {
        width: 30%;
      }
      :nth-child(2) {
        width: 15%;
      }
      :nth-child(3) {
        width: 15%;
        &[type="date"] {
          width: 15%;
        }
      }
    }
  }
}

.skillForm {
  @extend .formContainer;
    .fieldset {
      grid-column : 1 / 2;
      display: flex;
      flex-direction: column;
  }
  .requirements {
    margin : 0;
    gap : 0.5rem;
    .tagContainer {
      margin : 0.2rem;
      .tag {
        margin : 0;
        color: $fontGray;
        border-color: $fontGray;
        border-radius: 5px;
      }
    }
  }
}


// Tag
.requirements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  .text{
    color: $fontGray;
  }
}

.tagContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-content: flex-start;
  margin: 0;
  gap : 0.5rem;

  .tag {
    height: fit-content;
    color: $activeTextBlue;
    padding: 0 1rem;
    margin: 0;
    width: fit-content;
    border-radius: 99px;
    border: 2px solid rgba($activeTextBlue, 0.5);
  }
}