@import "../../styles/variables.scss";

.outerPageLayout {
  width: 100%;
  background-color: #fcfcfc;
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1);

  padding-top: 62px;
  padding-bottom: 240px;

  .mainStyle {
    width: 1280px;
    margin: 0 auto;
    background-color: white;
    padding: 32px;
    border: 1px solid $borderGray;
  }
}

.innerPageLayout {
  padding: 32px 58px;

  display: flex;
  flex-direction: column;

  h3 {
    padding: 16px 0px;
    margin-bottom: 16px;
    border-bottom: 1px solid $activeTextBlue;
    font-size: x-large;
    justify-self: center;
    color: $activeTextBlue;
  }
  div {
    align-self: center;
    margin: 16px 0px;
  }
}
