@import "../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;
  padding: 0 24px;
  column-gap: 56px;
  height: fit-content;

  img {
    width: 240px;
  }
  div {
    display: flex;
    align-items: center;
    justify-items: center;
    min-width: 210px;
    width: fit-content;
    span,
    a {
      font-size: 14px;
      font-weight: 500;
      color: $fontGray;
      margin-right: auto;     
    }
    svg {
      color: $iconBlue;
    }
  }
}

.searchBar {
  display: flex;
  width: 800px;
  height: 48px;
  padding-left: 32px;
  padding-right: 32px;
  border-width: 4px;
  border-radius: 999px;
  border-color: rgb(0 99 248 / 1);

  input {
    outline: none;
    flex: 1 1 auto;
  }
  button {
    flex: none;
  }
  svg {
    color: $logoBlue;
  }
}
