@import "../variables.scss";

.recruitmentSection {
  padding-top: 62px;
  padding-bottom: 16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 42px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.recruitmentCard {
  background: white;
  height: 220px;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #e2e2e2;

  img {
    object-fit: cover;
    align-self: flex-start;
    // padding : 16px;
  }

  section {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      background: #e2e2e2;
    }
  }

  [data-style="company-name"] {
    font-weight: 700;
  }

  //   [data-style="recruitment-info"] {
  //   }

  [data-style="d-day"] {
    padding-top: 12px;
    color: $fontGray;
  }

  svg {
    color: $fontGray;
  }
}
