$screen-width: 1280px;

$logoBlue: #0063f8;
$default-gray: #e2e2e2;

$borderGray: #e0e0e0;
$activeBgBlue: #eef7ff;
$activeTextBlue: #0066f9;

$fontGray: #828282;

$iconBlue: #d0ebff;
$backgroundBlue: #eef7ff;

$button-disabled-gray: #999999;

.mainSection {
  padding: 32px 58px;

  display: flex;
  flex-direction: column;

  h3 {
    padding: 16px 0px;
    margin-bottom: 16px;
    border-bottom: 1px solid $activeTextBlue;
    font-size: x-large;
    justify-self: center;
    color: $activeTextBlue;
  }
  div {
    align-self: center;
    margin: 16px 0px;
  }

  .forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .submitButton {
    padding: 8px 74px;
    border-radius: 4px;
    border: 1px solid $borderGray;
    background-color: $logoBlue;
    color: white;
    font-size: x-large;
    margin: 28px 0px;
    margin-bottom: 48px;
    cursor: pointer;
    &:hover {
      // background-color: $backgroundBlue;
      background-color: rgb(0, 0, 228);
    }
    &:disabled {
      background-color: $button-disabled-gray;
      cursor: auto;
    }
  }
}

.chartCaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: attr(data-width);
  padding: none;
  padding-top: none;
  span {
    display: flex;
    flex-direction: column;
    width: 25%;

    div {
      margin: 0px;
      &:first-child {
        color: black;
      }
      &:last-child {
        color: $fontGray;
      }
    }
  }
}
