$borderGray: #e0e0e0;
$activeBgBlue: #eef7ff;
$activeTextBlue: #0066f9;

$fontGray: #828282;

.jobSearchFilter {
  // padding-top: 6px;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 52px;

  .categoryType {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 2px solid $borderGray;
    border-left: none;
    padding: 8px 16px;
    align-items: center;
    cursor: pointer;

    // 내부 요소 설정
    :nth-child(1) {
      justify-self: start;
    }
    :nth-child(2) {
      font-size: medium;
      justify-self: start;
      padding-left: 8px;
    }
    :nth-child(3) {
      justify-self: end;
    }
  }

  .active {
    color: $activeTextBlue;
    border: 1px solid $activeTextBlue;
    :nth-child(3) {
      transform: rotate(180deg);
    }
  }
}

.filter {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 2fr));
  height: 320px;
  border-bottom: 2px solid $borderGray;

  ul {
    border: 1px solid $borderGray;
    border-left: 1px solid rgba($color: #000000, $alpha: 0);
    border-top: none;
    border-bottom: none;
    padding: 8px 4px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(42px, 1fr));
    align-items: center;
    overflow: auto;

    li {
      padding: 6px;
      display: flex;
      // flex-direction: row;
      align-items: center;
      justify-items: start;
      padding: 6px;
      height: fit-content;
    }
    .name {
      padding-left: 4px;
      font-size: medium;
    }
    .number {
      font-size: x-small;
      color: $fontGray;
      padding-left: 4px;
    }
    .toggle {
      // align-content: flex-end;
    }
  }

  .filterMain {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filterSub {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }

  .active {
    color: $activeTextBlue;
    background-color: $activeBgBlue;
    :last-child {
      font-size: small;
      margin-left: auto;
    }

    .filterMajor {
    }

    .filterSub {
      grid-column: span 2;
    }
  }
}

.searchButton {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  button {
    background-color: $activeTextBlue;
    color: white;
    padding: 14px 64px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgb(0, 0, 228);
    }
  }
}
