$borderGray: #e0e0e0;
$activeTextBlue: #0066f9;
$fontGray: #828282;

.jobSearchResult {
  padding-top: 92px;
  .pagenationButtons {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    color: $fontGray;
    button {
      margin: 0px 8px;
      padding: 0px 8px;
      border: none;
      background-color: transparent;
      font-size: large;
      &:hover {
        cursor: pointer;
        // color: $activeTextBlue;
      }
    }
    .clicked {
      color: $activeTextBlue;
      border: 1px solid $activeTextBlue;
    }
  }
}

.resultText {
  margin-bottom: 32px;
  font-size: x-large;
  font-weight: 600;
  span {
    color: $activeTextBlue;
  }
}

.cardContainer {
  li:first-child {
    border-top: 2px solid rgb(177, 177, 177);
  }
  li:last-child {
    border-bottom: 2px solid rgb(177, 177, 177);
  }

  li {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    align-items: center;
    min-height: 160px;
    max-height: fit-content;
    padding: 24px 32px;
    border: 1px solid $borderGray;
    border-right: none;
    border-left: none;
    color: $fontGray;
    gap: 32px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;

    &:hover {
      // cursor: pointer;
    }

    section {
      // &:first-child {
      // }
      // &:nth-child(2) {
      // }
      // &:nth-child(3) {
      // }
      // &:nth-child(4) {
      // }
    }
    h5 {
      font-size: x-large;
      // font-size: 1rem;
      // font-size: 100%;
      margin-bottom: 8px;
      color: $activeTextBlue;
      display: flex;
      align-items: center;
    }
    svg {
      margin: 0px 10px;
      display: inline;
    }

    :nth-child(2) {
      flex-grow: 1fr;
      svg {
        color: $fontGray;
      }
    }
    :nth-child(3) {
      align-self: center;
      line-height: 1.7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    :nth-child(4) {
      align-self: center;
      align-items: flex-end;
      line-height: 1.7;
      display: flex;
      flex-direction: column;
      button,
      a {
        &:first-child {
          width: auto;
          font-size: x-large;
          border: 1px solid $activeTextBlue;
          border-radius: 8px;
          color: $activeTextBlue;
          padding: 4px 32px;
          margin-top: 14px;
          white-space: nowrap;
        }
        &:nth-child(2) {
          width: auto;
          font-size: medium;
          // border: 1px solid $borderGray;
          color: $fontGray;
          border-radius: 8px;
          color: $fontGray;
          margin-top: 14px;
          white-space: nowrap;
          align-self: flex-end;
        }
      }
      div {
        margin-top: 8px;
        align-self: flex-end;
      }
    }
  }
}

.redTag {
  color: tomato;
  background-color: rgb(255, 243, 241);
  border: 1px solid tomato;
  border-radius: 20px;
  width: fit-content;
  padding: 0px 10px;
  margin-top: 8px;
  font-size: small;
}
