$screen-width: 1280px;
$activeTextBlue: #0066f9;

.navBar {
  width: $screen-width;

  display: flex;
  justify-content: center;
  margin: 24px auto;

  ul {
    display: flex;
    flex-direction: row;
    column-gap: 52px;
  }

  .active {
    color: $activeTextBlue;
  }
}
