$screen-width: 1280px;

$logoBlue: #0063f8;
$default-gray: #e2e2e2;
$borderGray: #e0e0e0;
$activeBgBlue: #eef7ff;
$activeTextBlue: #0066f9;
$fontGray: #828282;
$iconBlue: #d0ebff;
$backgroundBlue: #eef7ff;
$button-disabled-gray: #999999;
$light-gray: #d1d1d1;

$logo-color-blue: #0063f8;
$blue-blue: #0058fa;
$light-blue: #bcd3fc;
$light-gray: #d1d1d1;
