$screen-width: 1280px;

$logoBlue: #0063f8;
$default-gray: #e2e2e2;

$borderGray: #e0e0e0;
$activeBgBlue: #eef7ff;
$activeTextBlue: #0066f9;

$fontGray: #828282;

$iconBlue: #d0ebff;
$backgroundBlue: #eef7ff;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;
  column-gap: 56px;
  height: fit-content;

  img {
    width: 240px;
  }
  div {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 210px;
    span,
    a {
      font-size: 16px;
      font-weight: 500;
      color: $fontGray;
      margin-right: 16px;
    }
    svg {
      color: $iconBlue;
    }
  }
}

.searchBar {
  display: flex;
  width: 800px;
  height: 48px;
  padding-left: 32px;
  padding-right: 32px;
  border-width: 4px;
  border-radius: 999px;
  border-color: rgb(0 99 248 / 1);

  input {
    flex: 1 1 auto;
  }
  button {
    flex: none;
  }
  svg {
    color: $logoBlue;
  }
}
